<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
	<appSettings>
		<add key="providerId" value="72e7a539-2126-4e5a-b456-02d68fb9be4e" />
		<add key="clientURL" value="http://localhost:3333" />
	</appSettings>
</configuration>